<html>
    <head>
        <title>
            Login Page
        </title>
        {% load static %}        
        <link rel = "stylesheet" href = {% static 'css/signin.css' %}>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    </head>
    <body>
        <form action="./sign" method="post">
            {% csrf_token %}
            <h3>Login Form</h3>
            <div>
                <label id= 'lbl' for="user_txt">Username</label>
                <p><input type="text" id='txt' name="user_txt"></p>
                <label id= 'lbl' for="pass_txt">Password</label>
                <p><input type="password" id='txt' name="pass_txt"></p>
                <p><input type="submit" value="Submit" class='btn' name="sub_btn">&nbsp&nbsp&nbsp
                <input type="reset" value="Clear" class='btn' name="res_btn"></p>
            </div>
        </form>&nbsp&nbsp        
        <a class="link" href="./insert" role="button">SignUp</a>
                
    </body>
</html>