body{
    background-color:yellowgreen;
}
#txt{
    border-style: inset;
    border-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 5px;
    margin-left: 10px;  
    
}
.btn{
    border-style: outset;
    border-color: blue;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-left: 10px;
    margin-bottom: 7px;
}
div{
    border-style: solid;
    border-color: red;
    border-radius: 7px;
    width: 250px;
    background-color: aqua;
}
#lbl{
    margin-left: 10px;
    color: blue;
}