<!DOCTYPE html>
<html>
<head>
    <title>Customer App</title>
    <style>
        table{
            border: 3px;
            border-radius: 10px;
            border-style: inset;
        }
        th{
            background-color: cyan;
            width: 100px;
            height: 30px;
        }
        tr{
            background-color: pink;
            height: 30px;
            
        }
        body{
            background-color: grey;
        }
    </style>
</head>
<body>
    <h2> Customer Details</h2>
    {% if cust_d %}
        <table>
            <thead>
                <th>Cust ID</th>
                <th>Cust Name</th>
                <th>Mobile No</th>
                <th>Address</th>
                <th>City</th>
            </thead>
            {% for p in cust_d %}
                <tr>
                    <td>{{p.custid}}</td>
                    <td>{{p.custname}}</td>
                    <td>{{p.mobile}}</td>
                    <td>{{p.address}}</td>
                    <td>{{p.city}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No customer records are found</h3>
    {% endif %}
</body>
</html>